*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: palevioletred;
    padding: 30px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}
img{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
h2{
    margin-bottom: 15px;
}
p{
    color: midnightblue;
    font-size: 13px;
    margin-bottom: 15px;
}
.details p a{
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.buttons a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
}
.buttons{
    margin-top: 35px;
}
.buttons a:hover{
    background-color: orange;
}